<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<meta charset="UTF-8">
<link th:replace="fragmentos/cssBootstrap">

</head>
<body>

	<div th:replace="fragmentos/header"></div>

	<br />

	<form th:action="@{/converter}" method="post">
		<div class="container">

			<h4>Conversor de moedas</h4>
			<hr>
			<div class="row">

				<label>De:</label>
				<div class="col-3">
					<select class="form-select form-select-sm" name="codIso1"
						aria-label=".form-select-sm example">

						<option selected disabled="disabled">Selecione a moeda</option>
						<option th:each="moeda : ${moedas}" th:value="${moeda.codIso}"
							th:text="${moeda.nome}"></option>
					</select>
				</div>


				<div class="col-2">
					<input class="form-control form-control-sm" type="number"
						name="valor1" placeholder="1" required="required"
						aria-label=".form-control-sm example">
				</div>

			</div>

			<br />

			<div class="row">

				<label>Para:</label>


				<div class="col-3">
					<select class="form-select form-select-sm" name="codIso2"
						aria-label=".form-select-sm example">

						<option selected disabled="disabled">Selecione a moeda</option>
						<option th:each="moeda : ${moedas}" th:value="${moeda.codIso}"
							th:text="${moeda.nome}"></option>
					</select>
				</div>

				<div class="col-2" th:if="${valor != null}">
					<label> Cotação atual: </label>
					<h4 th:text="${valor}"></h4>
					<label>fonte:</label> <a href="https://docs.awesomeapi.com.br/">docs.awesomeapi.com.br</a>
				</div>


				<div class="col-2" th:if="${erro != null}">
					<div class="alert alert-danger" role="alert" th:text="${erro}"></div>
				</div>


			</div>
			<br />


			<div class="row">
				<div class="col-2">
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-outline-dark btn-sm">
							<strong>Converter</strong>

							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-arrow-right-square-fill"
								viewBox="0 0 16 16">
  					<path
									d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z" />
					</svg>
						</button>
					</div>

				</div>
			</div>
		</div>
	</form>

	<div th:replace="fragmentos/footer"></div>

	<div th:replace="fragmentos/jsBootstrap"></div>
</body>
</html>